<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Attendance Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
        crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="container">
        <form id="my-form" class="text-bg-secondary bg-opacity-20 border border-dark border-size-3 rounded-3 p-5 m-3" method="POST">
            <div class="card p-3 m-3">
                <h2 class="card-header">Students Attendance Tracker Log</h2>
                <div class="card-body">
                    <span class="card-text">
                        Current Records of all the Students Attendance.
                    </span>
                    
                </div>
            </div>
        <a href="index.html" class="btn btn-sm btn-primary p-3 m-3">Log Attendance Data</a>
            
        </form>
        <div class="container text-bg-secondary rounded-2 p-2">
             <center><h2 class="title">Attendance Records</h2></center>
             <table class="table table-bordered rounded-2 p-2">
                <thead>
                    <tr>
                        <th class="d-none">
                            id
                        </th>
                        <th>
                            Student Name
                        </th>
                        <th>
                            Sessions Attended
                        </th>
                        <th>
                            Attendance in %
                        </th>
                    </tr>
                </thead>
                <tbody id="tblExpense">
                </tbody>
            </table>
        </div>
    </div>


    <script src="main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"></script>
</body>

</html>