<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <%- include('../includes/header.ejs') %>
                </form>
                <div class="container text-bg-secondary rounded-2 p-2">
                    <center>
                        <h2 class="title">Attendance Records</h2>
                    </center>
                    <table class="table table-bordered rounded-2 p-2">
                        <thead>
                            <tr>
                                <th class="d-none">
                                    id
                                </th>
                                <th>
                                    Student Name
                                </th>
                                <th>
                                    Total Sessions
                                </th>
                                <th>
                                    Sessions Attended
                                </th>
                                <th>
                                    Attendance in %
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tblExpense">
                        </tbody>
                    </table>
                </div>
                </div>
                <%- include('../includes/end.ejs'); %>